body {
	line-height: 1;
}

.form {
	position: relative;
	margin-left: 300px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 
}
input {
	border-radius: 20px;
}

